@import "normalize";
@import "mixins.scss";
@import "variables.scss";
@import "scaffolding.scss";
@import "styleguide.scss";

//HEADER

.header__logo-wrapper {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: $border-mobile-menu;
}

.header__img-logo {
  display: block;
}

.header__link-mobile-header {
  align-self: center;
}

.header__svg-mobile-header {
  display: block;
}

.header__open-menu {
  @include no-outline;
  width: 24px;
  height: 18px;
  padding: 0;
  align-self: center;
  border: none;
  background-image: url("../img/open-mobile-menu.svg");
  background-repeat: no-repeat;
}

.header__close-menu {
  @include no-outline;
  width: 24px;
  height: 18px;
  padding: 0;
  align-self: center;
  border: none;
  background-image: url("../img/close-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position-x: 3px;
}

.navigation__menu {
  margin: 0;
  padding: 0;
}

.navigation__list {
  text-align: center;
  box-sizing: border-box;
  border-bottom: $border-mobile-menu;
  list-style: none;
}

.navigation__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 65px;
  color: $black;
  text-transform: uppercase;
}

//Nutrition

.nutrition {
  background-image: url("../img/nutrition-background-mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 320px 305px;
}

.nutrition__wrapper {
  margin: 0 20px;
  color: $white;
  text-align: center;
}

.nutrition__header {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.nutrition__tagline {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.nutrition__link {
  display: block;
  margin: 0 auto 20px;
  font-size: 14px;
  line-height: 40px;
  color: $white;
  background-color: $bg-lightgreen;
  text-transform: uppercase;
}

// Cat-energy

.cat-energy__wrapper {
  margin: 0 20px;
}

.cat-energy-slim,
.cat-energy-pro {
  margin-bottom: 20px;
  padding: 20px;
  background-color: $bg-lightgrey;
}

.cat-energy-slim__icon,
.cat-energy-pro__icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $bg-lightgreen;
}

.cat-energy-slim__icon-svg {
  position: absolute;
  display: block;
  top: -2px;
  width: 50px;
  height: 50px;
  background-image: url("../img/cat-energy-slim.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cat-energy-pro__icon-svg {
  position: absolute;
  display: block;
  left: calc((50px - 67px) / 2);
  top: calc((50px - 28px) / 2);
  width: 67px;
  height: 28px;
  background-image: url("../img/cat-energy-pro.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.cat-energy-slim__header,
.cat-energy-pro__header {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.cat-energy-slim__info,
.cat-energy-pro__info {
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.22px;
}

.cat-energy-slim__link,
.cat-energy-pro__link {
  display: inline-block;
  margin-top: 16px;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
}

.cat-energy-slim__link-arrow,
.cat-energy-pro__link-arrow {
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 16px;
  background-image: url("../img/right-arrow-long.svg");
  background-size: 24px 11px;
  background-repeat: no-repeat;
  background-position: center;
}

//how-work

.how-work__wrapper {
  margin: 0 20px;
}

.how-work__header {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.advantage {
  display: flex;
  margin-bottom: 20px;
}

.advantage__img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: $bg-lightgreen;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

.advantage__info {
  margin: 0 20px;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $darkgrey;
}

.advantage__img--beneficial-nutrients {
  background-image: url("../img/advantage-beneficial-nutrients.png");
}

.advantage__img--preparation {
  background-image: url("../img/advantage-preparation.png");
}

.advantage__img--eat {
  background-image: url("../img/advantage-eat.png");
}

.advantage__img--time {
  background-image: url("../img/advantage-time.png");
}

//example

.example {
  background-color: $bg-lightgrey;
}

.example__wrapper {
  margin: 0 20px;
  padding: 30px 0;
}

.example__header {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.example__info {
  margin-top: 35px;
  margin-bottom: 25px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  color: $darkgrey;
  letter-spacing: 1.2px;
}

.time-days {
  display: flex;
  justify-content: space-between;
}

.time-days__wrapper {
  position: relative;
  width: 124px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.time-days__header {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
}

.time-days__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 87px;
  margin: 0;
  left: calc((124px - 87px) / 2);
  bottom: -12px;
  font-size: 12px;
  line-height: 12px;
  color: $darkgrey;
  background-color: $bg-lightgrey;
  text-align: center;
  z-index: 1;
}

.time-days__info,
.time-days__price {
  margin: 38px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.example__cat-wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.example__cat-before {
  width: 50%;
  height: 240px;
  background-image: url("../img/cat-before-mobile.png");
  background-repeat: no-repeat;
}

.example__cat-after {
  width: 50%;
  height: 240px;
  background-image: url("../img/cat-after-mobile.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
}

.example__cat-range-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.example__cat-range-text {
  align-self: center;
  font-size: 16px;
  text-transform: uppercase;
}

.example__input-range {
  margin: 0 15px;
  width: 84px;
}

// Address

.address__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
}

.address__header {
  text-transform: uppercase;
}

.address__header,
.address__info {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.address__info {
  display: flex;
  flex-direction: column;
  font-style: normal;
  color: $darkgrey;
}

.address__google-map {
  display: block;
}

//footer

.footer {
  background-color: $bg-lightgrey;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.footer__link-logo {
  margin: 40px auto 30px;
  line-height: 18px;
}

.footer__social-network {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.footer__link-social {
  padding: 20px;
  line-height: 8px;
}

.footer__html-academy-wrapper {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.footer__html-academy-link {
  font-size: 16px;
  line-height: 16px;
  color: $darkgrey;
}

@media (max-width: 767px) {
  .advantage__number {
    display: none;
  }
}

@media (max-width: 767px) and (min-resolution: 144dpi),
  (max-width: 767px) and (min-resolution: 1.5dppx) {
  .nutrition {
    background-image: url("../img/nutrition-background-mobile@2x.jpg");
  }

  .advantage__img--beneficial-nutrients {
    background-image: url("../img/advantage-beneficial-nutrients@2x.png");
  }

  .advantage__img--preparation {
    background-image: url("../img/advantage-preparation@2x.png");
  }

  .advantage__img--eat {
    background-image: url("../img/advantage-eat@2x.png");
  }

  .advantage__img--time {
    background-image: url("../img/advantage-time@2x.png");
  }

  .example__cat-before {
    background-image: url("../img/cat-before-mobile@2x.png");
    background-size: 280px 240px;
  }

  .example__cat-after {
    background-image: url("../img/cat-after-mobile@2x.png");
    background-size: 280px 240px;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    width: 708px;
    margin: 24px auto;
    justify-content: space-between;
  }

  .header__logo-wrapper {
    padding: 0;
    border: none;
  }

  .header__link-mobile-header,
  .header__open-menu {
    display: none;
  }

  .header__img-logo {
    display: block;
    width: 173px;
    height: 58px;
  }

  .navigation {
    display: block;
    align-self: center;
  }

  .navigation__menu {
    display: flex;
  }

  .navigation__list {
    margin-left: 35px;
    border-bottom: none;
  }

  .navigation__link {
    display: block;
    padding-top: 4px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
  }

  .navigation__link.active {
    border-bottom: 2px solid $bg-lightgreen;
  }

  //nutrition
  .nutrition {
    background-image: none;
  }

  .nutrition__wrapper {
    position: relative;
    width: 708px;
    margin: 0 auto;
    padding-left: 90px;
    padding-bottom: 527px;
    box-sizing: border-box;
    color: $black;
    text-align: left;
  }

  .nutrition__header {
    padding: 35px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .nutrition__tagline {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  .nutrition__img {
    position: absolute;
    top: 240px;
    left: 0;
    z-index: -1;
  }

  .nutrition__link {
    width: 245px;
    height: 52px;
    margin: 0;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
  }

  //cat-energy

  .cat-energy__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .cat-energy-slim,
  .cat-energy-pro {
    position: relative;
    padding-top: 75px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 280px;
  }

  .cat-energy-slim__icon,
  .cat-energy-pro__icon {
    top: 90px;
    right: 60px;
    width: 200px;
    height: 200px;
  }

  .cat-energy-slim__icon-svg {
    top: -12px;
    left: 30px;
    width: 140px;
    height: 194px;
  }

  .cat-energy-pro__icon-svg {
    top: 44px;
    left: -34px;
    width: 268px;
    height: 112px;
  }

  .cat-energy-slim__header,
  .cat-energy-pro__header {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .cat-energy-slim__info,
  .cat-energy-pro__info {
    padding: 25px 0 60px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .cat-energy-slim__link,
  .cat-energy-pro__link {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .cat-energy-slim__link-arrow,
  .cat-energy-pro__link-arrow {
    margin-left: 20px;
    height: 20px;
  }

  //how-work
  .how-work__wrapper {
    display: flex;
    width: 708px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .how-work__header {
    margin-top: 25px;
    margin-bottom: 40px;
    flex-basis: 100%;
    font-size: 60px;
    line-height: 60px;
  }

  .advantage {
    position: relative;
    flex-basis: 50%;
    margin-top: 30px;
    margin-bottom: 105px;
    padding-right: 90px;
    flex-direction: column;
    box-sizing: border-box;
  }

  .advantage__img {
    width: 80px;
    height: 80px;
  }

  .advantage__info {
    margin: 0;
    margin-top: 35px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.9px;
  }

  .advantage__number {
    position: absolute;
    display: block;
    top: -40px;
    left: 125px;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    overflow: hidden;
    z-index: -1;
  }

  //example
  .example {
    position: relative;
    border-top: 1px solid #e6e6e6;
  }

  .example__background {
    position: absolute;
    width: 100%;
    height: 619px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
  }

  .example__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 708px;
    margin: 0 auto;
    padding: 40px 0 65px;
    box-sizing: border-box;
    z-index: 1;
  }
  .example__header {
    font-size: 60px;
    line-height: 60px;
  }

  .example__info {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;
  }

  .time-days {
    justify-content: flex-start;
  }

  .time-days__wrapper {
    width: 162px;
    margin-right: 40px;
  }

  .time-days__header {
    font-size: 30px;
    line-height: 70px;
  }

  .time-days__text {
    flex-direction: row;
    justify-content: center;
    width: 114px;
    left: calc((162px - 114px) / 2);
    bottom: -7px;
    font-size: 14px;
    line-height: 14px;
    background-color: #fff;
  }

  .time-days__text--mod {
    width: 143px;
    left: calc((162px - 143px) / 2);
  }

  .time-days__text-span {
    white-space: pre-wrap;
  }

  .time-days__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
  }

  .time-days__price {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
  }

  .example__cat-wrapper {
    margin-top: 85px;
    width: 690px;
  }

  .example__cat-before {
    width: 50%;
    height: 517px;
    background-image: url("../img/cat-before-desktop.png");
  }
  
  .example__cat-after {
    width: 50%;
    height: 517px;
    background-image: url("../img/cat-after-desktop.png");
  }

  .example__cat-range-wrapper{
    margin-top: 10px;
  }

  .example__cat-range-text{
    font-size: 20px;
    line-height: 34px;
    border-bottom: 1px dashed #b8b8b8;
  }

  .example__input-range{
    width: 428px;
    margin: 0 25px;
  }
  //address
  .address__wrapper {
    width: 708px;
    margin: 65px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }

  .address__header {
    font-size: 20px;
    line-height: 25px;
  }

  .address__city {
    margin-top: auto;
  }

  .address__google-map {
    height: 396px;
  }

  //footer
  .footer__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 58px 0;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .footer__link-logo {
    margin: 0;
    align-self: center;
  }

  .footer__social-network {
    width: auto;
    border: none;
  }

  .footer__link-social {
    padding: 0 15px;
  }

  .footer__svg-vk {
    width: 30px;
    height: 16px;
  }

  .footer__svg-instagram {
    width: 23px;
    height: 23px;
  }

  .footer__svg-facebook {
    width: 14px;
    height: 28px;
  }

  .footer__html-academy-wrapper {
    padding: 0;
    flex-grow: 0;
  }

  .footer__html-academy-logo-link {
    padding-left: 23px;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
  (min-width: 768px) and (min-resolution: 1.5dppx) {
    .example__cat-before {
      background-image: url("../img/cat-before-desktop@2x.png");
      background-size: 690px 517px;
    }
    
    .example__cat-after {
      background-image: url("../img/cat-after-desktop@2x.png");
      background-size: 690px 517px;
    }
  }