.header__link-logo,
.header__link-mobile-header,
.navigation__link,
.footer__link-logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.nutrition__link:active .nutrition__span,
.cat-energy-slim__link:active,
.cat-energy-pro__link:active,
.footer__link-social:active .footer__svg-social,
.footer__html-academy-logo-link:active .footer__html-academy-svg,
.footer__html-academy-link:active {
  opacity: 0.3;
}

.nutrition__link {
  &:hover,
  &:focus {
    background-color: $bg-lightgreen-hover;
  }
}

.cat-energy-slim__link:hover .cat-energy-slim__link-arrow,
.cat-energy-pro__link:hover .cat-energy-pro__link-arrow,
.cat-energy-slim__link:focus .cat-energy-slim__link-arrow,
.cat-energy-pro__link:focus .cat-energy-pro__link-arrow {
  width: 33px;
  background-image: url("../img/right-arrow-verylong.svg");
  background-size: 33px 11px;
}

.footer__link-social:hover .footer__svg-social,
.footer__html-academy-logo-link:hover .footer__html-academy-svg,
.footer__link-social:focus .footer__svg-social,
.footer__html-academy-logo-link:focus .footer__html-academy-svg {
  fill: $bg-lightgreen;
}

.example__cat-range-wrapper:hover .example__cat-range-text {
  border-bottom: 1px solid #989898;
}

.example__cat-range-wrapper:active .example__cat-range-text {
  border-bottom: 1px solid transparent;
}

.example__input-range:hover::-webkit-slider-thumb {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.example__input-range:hover::-moz-range-thumb {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.example__input-range:active::-webkit-slider-thumb,
.example__input-range:focus::-webkit-slider-thumb {
  border: 2px solid #68b738;
}

.example__input-range:active::-moz-range-thumb,
.example__input-range:focus::-moz-range-thumb {
  border: 2px solid #68b738;
}

@media (min-width: $tablet-width) {
  .footer__html-academy-wrapper:active .footer__html-academy-svg,
  .footer__html-academy-wrapper:active .footer__html-academy-link {
    opacity: 0.3;
  }

  .footer__html-academy-wrapper:hover .footer__html-academy-svg {
    fill: $bg-lightgreen;
  }
}
