$bg-lightgrey: #f2f2f2;
$darkgrey: #444;
$black: #000;
$white: #fff;
$bg-lightgreen: #68b738;
$bg-lightgreen-hover: #5eaa2f;
$border-mobile-menu: 1px solid #e6e6e6;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;